<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noxyspace.vinca">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.noxyspace.vinca.VincaApplication"
        android:label="VINCA"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/vinca_v_icon"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="824f94a6adf58631eb97dc52336456d13ac5c386" />

        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.HubActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.CanvasActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.HubActivity"/>
    </application>

</manifest>